@charset "UTF-8";

/* base-style
------------------------------------------ */
html {
    font-size: 62.5%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 1vw;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: calc(10 / 375 * 100vw);
    }
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 400;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.container {
    margin: 0 auto;
    max-width: 108rem;
    padding: 0 1.6rem;
    background: #fff;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 1.6rem;

    }
}

.flex {
    display: flex;
    justify-content: space-between;
}

.no-pc {
    display: inline;
}

@media screen and (min-width: 768px) {
    .no-pc {
        display: none;
    }
}

/* font-class */
.serif {
    font-family: "Noto Serif JP", serif;
    font-style: normal;
}

/* header
------------------------------------------ */
header {
    position: fixed;
    top: 0rem;
    left: 0rem;
    height: 6rem;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 50;
}

@media (min-width: 768px) {
    header {
        height: 8.0rem;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.header-logo img {
    width: 25.5rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

@media (min-width: 768px) {
    .header-logo img {
        width: 20.8rem;
        height: 1.8rem;
        margin-left: 10.8rem;
    }
}

.hamburger-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
}

@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }
}

.hamburger-button i {
    font-size: 3.2rem;
    line-height: 1;
    color: #606060;
    font-style: normal;
}


/* humburger-menu
------------------------------------------ */
.hamburger-menu {
    display: none;
    position: fixed;
    top: 6.0rem;
    left: 0rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.3rem 1.35rem 1.5rem;
    text-align: left;
    z-index: 100;
}

@media (min-width: 768px) {
    .hamburger-menu {
        position: static;
        display: flex;
        align-items: center;
        width: initial;
        padding: 0;
        margin: 0 0 0 auto;
        height: 100%;
    }
}

.hamburger-menu ul {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: calc(26/15.8);
}

@media (min-width: 768px) {
    .hamburger-menu ul {
        flex-direction: row;
        align-items: center;
        line-height: calc(26/15.8);
        gap: 0.8rem;
    }
}

@media (min-width: 768px) {
    .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9.6rem;
        height: 3.2rem;
        background-color: #fff;
        border: solid 0.1rem #606060;
    }
}

.nav-link-start {
    display: none;
}

@media (min-width: 768px) {
    .nav-link-start {
        color: #fefefe;
        background-color: #0097a7;
        font-weight: 700;
        width: 19.2rem;
        height: 3.6rem;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.8rem;
        margin-right: 10.8rem;
    }
}

@media (min-width: 768px) {
    .nav-link-start i {
        margin-left: 0.7rem;
    }
}


/* cover
------------------------------------------ */
.cover {
    top: 6.0rem;
    margin-bottom: 78.5rem;
}

@media screen and (min-width: 768px) {
    .cover {
        top: 0rem;
        position: relative;
        margin-bottom: 25.5rem;
    }
}

.cover-slick {
    position: relative;
    width: 100%;
    height: auto;
}

.cover-slick-item {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-position: center top;
}

.cover-slick-item img {
    margin-top: 6.0rem;
    display: block;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .cover-slick-item img {
        margin-top: 0;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 2;
}

.cover-catch {
    position: absolute;
    top: 43.5rem;
    letter-spacing: 0.01em;
    width: 100%;
    padding: 2.6rem 1.0rem 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255);
}

@media screen and (min-width: 768px) {
    .cover-catch {
        padding: 0rem 11.0rem;
        text-align: left;
        top: 42.5vw;
        background: rgba(255, 255, 255, 0);
        width: 100%;
    }
}

.cover-catch h2 {
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 1.6rem;
}

@media screen and (min-width: 768px) {
    .cover-catch h2 {
        font-size: 3.6rem;
        line-height: calc(54/36);
        margin-bottom: 0.8rem;
    }
}

.cover .link-start {
    position: absolute;
    top: 57rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cover .link-start-button {
    position: relative;
    color: #fff;
    background-color: #0097a7;
    font-size: 1.8rem;
    font-weight: 700;
    width: 21.0rem;
    height: 4.5rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

@media (min-width: 768px) {
    .cover .link-start {
        display: none;
    }
}

.cover .link-start-button p {
    padding-bottom: 0.5rem;
}

.cover .link-start-button i {
    margin-left: 0.5rem;
    padding-bottom: 0.1rem;
}

.cover .link-start-button::after {
    content: "";
    height: 0.1rem;
    width: 34.5rem;
    background-color: #606060;
    position: absolute;
    top: 7.5rem;
}

.cover ul {
    position: absolute;
    top: 70.5rem;
    left: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.2rem 3.3rem;
    background-color: #fff;
    z-index: 20;
    padding-bottom: 5.2rem;

}

@media (min-width: 768px) {
    .cover ul {
        top: 56.2vw;
        margin: 0;
        gap: 8vw;
        padding-top: 6.1rem;
    }
}


/* cover-ul-li-position */
@media (min-width: 768px) {
    .cover ul li:nth-child(1) {
        padding: 0 0.1rem 0 0.9rem;
    }
}

@media (min-width: 768px) {
    .cover ul li:nth-child(2) {
        padding: 0 0.9rem 0 1.2rem;
    }
}

@media (min-width: 768px) {
    .cover ul li:nth-child(3) {
        padding: 0 1.4rem 0 1.8rem;
    }
}

@media (min-width: 768px) {
    .cover ul li:nth-child(4) {
        padding: 0 1.0rem 0 1.0rem;
    }
}

.cover-item-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15.6rem;
    height: 15.6rem;
    font-size: 2.4rem;
    font-weight: 700;
    border-radius: 50%;
    border: #0097a7 solid 3px;
    color: #0097a7;
    margin: 0 auto 1.1rem;
    line-height: 1.8;
}

@media (min-width: 768px) {
    .cover-item-circle {
        width: 16rem;
        height: 16rem;
        gap: 1.3rem;
        margin: 0 0 0.5rem;
        line-height: 1;
    }
}


/* cover-circle-position */
@media (min-width: 768px) {
    .cover ul li:nth-child(1) .cover-item-circle {
        margin-left: 0.5rem;
    }
}

@media (min-width: 768px) {
    .cover ul li:nth-child(2) .cover-item-circle {
        margin-left: 0.25rem;
    }
}

@media (min-width: 768px) {
    .cover ul li:nth-child(3) .cover-item-circle {
        margin-right: 0.5rem;
    }
}

@media (min-width: 768px) {
    .cover ul li:nth-child(4) .cover-item-circle {
        margin-right: 0.3rem;
    }
}

.cover-item-circle b {
    font-family: "Noto Sans JP";
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 0.95rem;
}

@media (min-width: 768px) {
    .cover-item-circle b {
        padding-bottom: 0.1rem;
    }
}

.cover ul li p {
    text-align: center;
    font-size: 2.0rem;
    line-height: calc(35/20);
}

@media (min-width: 768px) {
    .cover ul li p {
        font-size: 2.4rem;
        line-height: 1.8;
    }
}


/* cover-list-p-position */
@media (min-width: 768px) {
    .cover ul li:nth-child(1) p {
        margin-right: 0.5rem;
    }
}

@media (min-width: 768px) {
    .cover ul li:nth-child(2) p {
        margin-left: 0.8rem;
    }
}

@media (min-width: 768px) {
    .cover ul li:nth-child(3) p {
        margin-left: 0rem;
    }
}

@media (min-width: 768px) {
    .cover ul li:nth-child(4) p {
        margin-right: 1.0rem;
    }
}


/* contact
------------------------------------------ */
.contact {
    padding: 5.6rem 0rem 6.0rem;
    background-color: #b5e9ee;
}

@media (min-width: 768px) {
    .contact {
        padding: 5.4rem 0rem 6.0rem;
    }
}

.contact h3 {
    font-size: 3.4rem;
    text-align: center;
    color: #0097a7;
    font-weight: 700;
    line-height: calc(42/34);
    margin: 0 auto 5.5rem;
}

@media (min-width: 768px) {
    .contact h3 {
        font-size: 4.8rem;
        line-height: calc(42/34);
        margin: 0 auto 5.3rem;
    }
}

.contact ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.0rem;
    margin: 0 auto 4.9rem;

}

@media (min-width: 768px) {
    .contact ul {
        gap: 1.9rem;
        margin: 0 auto 5.1rem;
    }
}

.contact ul li {
    font-size: 1.8rem;
    text-align: left;
    display: flex;
    margin: 0 auto;
    padding: 0 0.5rem 0 0;
}

.contact ul li:nth-child(2) {
    padding-left: 1.6rem;
}

@media (min-width: 768px) {
    .contact ul li {
        font-size: 2.4rem;
        padding-right: 4.3rem;
    }
}

.contact ul li i {
    font-size: 1.8rem;
    text-shadow: 0.2rem 0.2rem 0px rgba(32, 32, 32, 0.3);
    margin-right: 2.0rem;
    padding: 0.1rem 0 0 0;
}

@media (min-width: 768px) {
    .contact ul li i {
        font-size: 2.4rem;
        margin-right: 2.0rem;
    }
}

@media (min-width: 768px) {
    .contact ul li:nth-child(1) i {
        padding-top: 0.2rem;
    }

    .contact ul li:nth-child(2) i {
        padding-top: 0.1rem;
        padding-left: 0.7rem;
    }
}

.contact ul li:nth-child(2) i {
    padding-bottom: 0.4rem;
}

.contact ul li p {
    padding-bottom: 1rem;
    line-height: 1;
    letter-spacing: 0.01em;
}

.contact-link-start {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0.5rem 0 0;
}

.contact-link-start-button {
    color: #fff;
    background-color: #0097a7;
    font-size: 2.0rem;
    font-weight: 700;
    width: 34.0rem;
    height: 4.6rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    padding: 0 0.3rem 0 0;
    box-shadow: 0.7rem 0.7rem 0 rgba(32, 32, 32, 0.3);
}

@media (min-width: 768px) {
    .contact-link-start-button {
        font-size: 3.2rem;
        width: 55.8rem;
        height: 7.8rem;
        padding: 0 0 0.2rem 0.5rem;
        box-shadow: 0.7rem 0.7rem 0 rgba(32, 32, 32, 0.3);
    }
}

.contact-link-start-button:hover {
    margin-top: 0.7rem;
    margin-left: 1.2rem;
    box-shadow: none;
}

@media (min-width: 768px) {
    .contact-link-start-button:hover {
        margin-top: 0.7rem;
        margin-left: 2.0rem;
        box-shadow: none;
    }
}

.contact-link-start-button p {
    padding-bottom: 0.5rem;
}

.contact-link-start-button i {
    padding-left: 1.4rem;
    padding-bottom: 0.15rem;
}


/* feature
------------------------------------------ */
.feature {
    padding: 5.0rem 1.4rem 6.0rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .feature {
        padding: 4.4rem 1.4rem 6.0rem;
    }
}

/* feature-first */
.feature-first {
    margin: 0 auto 4.1rem;
}

@media (min-width: 768px) {
    .feature-first {
        max-width: 95.0rem;
        margin: 0 auto 4.1rem;
    }
}

.feature h2 {
    font-size: 3.4rem;
    font-weight: 700;
    color: #0097a7;
    text-align: center;
    margin-bottom: 3.4rem;
    padding-right: 0.4rem;
}

@media (min-width: 768px) {
    .feature h2 {
        font-size: 4.8rem;
        margin-bottom: 3.0rem;
        padding-right: 0.4rem;
    }
}

.feature h3 {
    font-size: 4.8rem;
    font-weight: 400;
    color: #606060;
    text-align: center;
}

.feature-first h3 {
    margin-bottom: 0.8rem;
    padding-left: 0.4rem;
    letter-spacing: 0.04em;
}

.feature h4 {
    font-size: 3.2rem;
    font-weight: 400;
    color: #606060;
    line-height: calc(42/32);
    text-align: center;
}

.feature-first h4 {
    margin-bottom: 3.5rem;
}

@media (min-width: 768px) {
    .feature h4 {
        font-size: 3.6rem;
        line-height: calc(42/32);
        text-align: center;
        margin-bottom: 3.5rem;
    }
}

.feature h4 span {
    display: inline-block;
    line-height: 0.9;
    background-color: #b5e9ee;
    padding: 0 0 0.4rem 0;
}

.feature-first h4 span {
    letter-spacing: 0.0125em;
}

@media (min-width: 768px) {
    .feature h4 span {
        line-height: 0.9;
        padding: 0 0 0.1rem 0;
    }
}

.first-contents-title {
    font-size: 1.8rem;
    color: #fff;
    background-color: #0097a7;
    width: 100%;
    height: 5.1rem;
    border-radius: 1.5rem 1.5rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.2rem;
    margin: 0 auto 1.0rem;
}

@media (min-width: 768px) {
    .first-contents-title {
        font-size: 3.2rem;
        height: 5.6rem;
        border-radius: 1.5rem 1.5rem 0 0;
        padding-bottom: 0.4rem;
    }
}

.first-contents ul {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
    width: 100%;
    margin: 0 auto;
}

.first-contents ul li {
    height: 10.6rem;
    display: flex;
    gap: 1.0rem;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .first-contents ul li {
        height: 7.2rem;
        gap: 1.0rem;
    }
}

.first-contents ul li .first-contents-list {
    font-size: 1.2rem;
    text-align: center;
    background-color: #dddddd;
    height: 100%;
    width: calc(((100 + 5)/348) * 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.01em;
}

@media (min-width: 768px) {
    .first-contents ul li .first-contents-list {
        font-size: 2.4rem;
        width: calc(((273 + 5)/950) * 100%);
        letter-spacing: 0.01em;
    }
}

.first-contents ul li .first-contents-text {
    font-size: 1.2rem;
    background-color: #eeeeee;
    height: 100%;
    width: calc(((235 + 5)/348) * 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 2.8rem 0.7rem 2.9rem;
    line-height: 1.77;
    letter-spacing: -0.003em;
}

@media (min-width: 768px) {
    .first-contents ul li .first-contents-text {
        font-size: 1.6rem;
        width: calc(((667 + 5)/950) * 100%);
        justify-content: left;
        padding: 0.9rem 4.5rem 0.7rem 2.8rem;
        line-height: 1.7;
        letter-spacing: 0.001em;
    }
}

.first-contents ul li:nth-child(3) .first-contents-list {
    border-radius: 0 0 0 1.5rem;
}

.first-contents ul li:nth-child(3) .first-contents-text {
    border-radius: 0 0 1.5rem 0;
}


/* .feature-second */
.feature-second {
    margin: 0 auto 3.9rem;
}

@media (min-width: 768px) {
    .feature-second {
        max-width: 95.0rem;
        margin: 0 auto 3.8rem;
    }
}

.feature-second h3 {
    letter-spacing: -0.0095em;
    padding-right: 0.6rem;
    margin-bottom: 0.9rem;
    padding-left: 0.2rem;
}

.feature-second h4 {
    margin-bottom: 4.1rem;
}

.feature-second h4 span {
    letter-spacing: -0.007em;
    margin-left: 0.1rem;
    padding: 0rem 0rem 0.3rem 0rem;
}

@media (min-width: 768px) {
    .feature-second h4 span {
        letter-spacing: -0.007em;
        margin-left: 0.1rem;
        padding: 0rem 0.25rem 0.2rem 0rem;
    }
}

.feature-second ul {
    display: flex;
    flex-direction: column;
    gap: 4.2rem;
    margin-bottom: 0.2rem;
}

@media (min-width: 768px) {
    .feature-second ul {
        flex-direction: row;
        gap: 9.0rem;
        margin-bottom: 1.9rem;
    }
}

.feature-second ul li {
    width: 100%;
}

@media (min-width: 768px) {
    .feature-second ul li {
        width: calc(((430 + 45)/950) * 100%);
    }
}

.feature-second .header {
    width: 100%;
    height: 5.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0097a7;
    padding-bottom: 0.4rem;
}

.feature-second .header p {
    font-size: 3.6rem;
    font-weight: 700;
    color: #fff;
}

.feature-second .price {
    height: 14.0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4.0rem;
}

@media (min-width: 768px) {
    .feature-second .price {
        height: 14.0rem;
        width: 100%;
        padding-top: 3.5rem;
    }
}

.feature-second .price p {
    position: relative;
    width: 100%;
    font-size: 6.0rem;
    font-weight: 700;
    color: #0097a7;
    text-align: center;
    padding-right: 6.7rem;
}

@media (min-width: 768px) {
    .feature-second .price p {
        font-size: 8.0rem;
        padding-right: 6.4rem;
    }
}

.feature-second ul li:nth-child(2) .price p {
    padding: 0.1rem 7.6rem 0 0;
}

@media (min-width: 768px) {
    .feature-second ul li:nth-child(2) .price p {
        padding: 0 6.7rem 0 0;
    }
}

.feature-second .price p span {
    font-size: 2.4rem;
}

.feature-second ul li:nth-child(1) .price p span {
    position: absolute;
    bottom: 2.4rem;
    left: 25.1rem;
}

.feature-second ul li:nth-child(2) .price p span {
    position: absolute;
    bottom: 2.4rem;
    left: 26.7rem;
}

@media (min-width: 768px) {
    .feature-second ul li:nth-child(1) .price p span {
        position: absolute;
        bottom: 0.2rem;
        left: 32.4rem;
    }

    .feature-second ul li:nth-child(2) .price p span {
        position: absolute;
        bottom: 0.4rem;
        left: 34.9rem;
    }
}

.feature-second .attention {
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 0.4rem;
    text-align: center;
}

@media (min-width: 768px) {
    .feature-second .attention {
        font-size: 1.6rem;
        padding-left: 0.4rem;
    }
}


/* feature-third */
.feature-third {
    margin: 0 auto 3.6rem;
}

@media (min-width: 768px) {
    .feature-third {
        max-width: 95.0rem;
        margin: 0 auto 3.6rem;
    }
}

.feature-third h3 {
    padding-right: 0.6rem;
    margin-bottom: 0.9rem;
}

@media (min-width: 768px) {
    .feature-third h3 {
        padding-right: 0rem;
        margin-bottom: 0.7rem;
    }
}

.feature-third h4 {
    padding-right: 0.9rem;
    margin-bottom: 3.6rem;
}

@media (min-width: 768px) {
    .feature-third h4 {
        padding-right: 0.4rem;
        margin-bottom: 3.6rem;
    }

    .feature-third h4 span {
        padding-left: 0.3rem;
    }
}

.feature-third ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

@media (min-width: 768px) {
    .feature-third ul {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
    }
}

@media (min-width: 768px) {
    .feature-third ul li {
        width: calc(((461 + 14)/950) * 100%);
    }
}

.feature-third .image-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.feature-third .image-wrapper img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .feature-third .image-wrapper {
        margin-bottom: 1.2rem;
    }
}

@media (min-width: 768px) {
    .feature-third ul li {
        transition: all 3s ease;
    }
}

.feature-third .image-content {
    font-size: 1.2rem;
    line-height: calc(20/12);
}

@media (min-width: 768px) {
    .feature-third .image-content {
        font-size: 1.6rem;
        line-height: calc(20/12);
    }
}

.feature-third ul li:nth-child(1) .image-content {
    padding: 0 2.0rem 0;
}

@media (min-width: 768px) {
    .feature-third ul li:nth-child(1) .image-content {
        padding: 0 2.8rem 0;
    }
}

.feature-third ul li:nth-child(2) .image-content {
    padding: 0 0.5rem 0 2.1rem;
}

@media (min-width: 768px) {
    .feature-third ul li:nth-child(2) .image-content {
        padding: 0 2.2rem 0 3.0rem;
        line-height: calc(20/11.7);
    }
}

.animate__animated {
    opacity: 0;
}



.feature-four {
    margin: 0 auto;
}

.feature-four h3 {
    margin-bottom: 0.9rem;
}

.feature-four h4 {
    padding-right: 0.5rem;
    margin-bottom: 4.0rem;
}

@media (min-width: 768px) {
    .feature-four h4 {
        padding-right: 0rem;
        margin-bottom: 3.8rem;
    }
}

.feature-four .google-map {
    display: flex;
    justify-content: center;
    margin: 0 auto 1.1rem;
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .feature-four .google-map {
        margin: 0 auto 1.3rem;
    }
}

.feature-four .google-map iframe {
    width: 100%;
    max-width: 114.8rem;
    height: 25.1rem;
}

@media (min-width: 768px) {
    .feature-four .google-map iframe {
        height: 48.0rem;
    }
}

.feature-four .access-content {
    font-size: 1.2rem;
    margin: 0 auto 2.0rem;
    text-align: center;
    padding-left: 0.9rem;
    line-height: 1.75;
}

@media (min-width: 768px) {
    .feature-four .access-content {
        font-size: 1.6rem;
        margin: 0 auto 1.4rem;
        text-align: center;
        padding-left: 0.5rem;
        line-height: 1.75;
    }
}

.feature-four .access-point {
    font-size: 1.8rem;
    margin: 0 auto 2.2rem;
    text-align: center;
    line-height: 1.75;
    padding: 0 0.1rem 0 0;
}

@media (min-width: 768px) {
    .feature-four .access-point {
        font-size: 2.4rem;
        margin: 0 auto 2.1rem;
        text-align: center;
        padding: 0 0 0 3.0rem;
        line-height: 1.75;
    }
}

.feature-four .table_width {
    display: flex;
    justify-content: center;
}

.feature-four table {
    width: 100%;
    max-width: 95.0rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .feature-four table {
        font-size: 2.4rem;
    }
}

.feature-four tbody {
    width: 100%;
}

.feature-four tr {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feature-four .td-header {
    background-color: #0097a7;
}

.feature-four th {
    height: 2.0rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.63rem;
    color: #fff;
}

@media (min-width: 768px) {
    .feature-four th {
        height: 4.0rem;
        width: 9.75rem;
    }
}

.feature-four td {
    height: 2.15rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.65rem;
    padding: 0 0 0.3rem 0;
}


/* feature-circle-position */
.feature-four .td-circle {
    padding: 0.1rem 0.3rem 0.0rem 0.0rem;
}

@media (min-width: 768px) {
    .feature-four .td-circle1 {
        padding: 0.4rem 0.0rem 0.0rem 0.3rem;
    }

    .feature-four .td-circle2 {
        padding: 0.4rem 0.0rem 0.0rem 0.2rem;
    }

    .feature-four .td-circle3 {
        padding: 0.4rem 0.2rem 0.0rem 0.0rem;
    }

    .feature-four .td-circle4 {
        padding: 0.4rem 0.6rem 0.0rem 0.0rem;
    }

    .feature-four .td-circle5 {
        padding: 0.4rem 0.3rem 0.0rem 0.0rem;
    }

    .feature-four .td-circle6 {
        padding: 0.4rem 0.3rem 0.0rem 0.0rem;
    }
}

@media (min-width: 768px) {
    .feature-four td {
        height: 4.3rem;
        width: 9.9rem;
    }
}

.feature-four .border-bottom {
    border-bottom: solid 0.1rem #606060;
}


/* contact
------------------------------------------ */
.contact-second {
    padding: 4.4rem 0rem 4.9rem;
}

@media (min-width: 768px) {
    .contact-second {
        padding: 5.1rem 0rem 5.9rem;
    }
}

.contact-second ul {
    gap: 2.0rem;
    margin: 0 auto 6.0rem;
}

@media (min-width: 768px) {
    .contact-second ul {
        gap: 2.0rem;
        margin: 0 auto 5.0rem;
    }
}


/* faq
------------------------------------------ */
.faq {
    padding: 4.7rem 1.5rem 3.6rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .faq {
        padding: 4.2rem 1.5rem 5.2rem;
        margin: 0 auto;
    }
}

.faq .faq-title h3 {
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: 0.035em;
    text-align: center;
    color: #0097a7;
    margin: 0 auto 5.0rem;
}

@media (min-width: 768px) {
    .faq .faq-title h3 {
        font-size: 4.8rem;
        letter-spacing: 0.05em;
        padding: 0 0 0 0.6rem;
        margin: 0 auto 5.9rem;
    }
}

.faq dl {
    position: relative;
    width: 100%;
    font-size: 1.6rem;
    max-width: 95.0rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .faq dl {
        font-size: 1.8rem;
    }
}

.click-open dt {
    color: #0097a7;
    border-bottom: solid 0.2rem #0097a7;
    line-height: 1.75;
    padding: 0rem 4.1rem 0.6rem 3.4rem;
    height: 6.4rem;
}

@media (min-width: 768px) {
    .click-open dt {
        padding: 0rem 4.1rem 0.6rem 3.4rem;
        height: 4.5rem;
    }
}


.click-open dt::before {
    content: "Q.";
    font-family: "Noto Serif JP", serif;
    font-style: normal;
    font-size: 2.4rem;
    font-weight: 700;
    color: #0097a7;
    position: absolute;
    top: -0.6rem;
    left: 0;
}

@media (min-width: 768px) {
    .click-open dt::before {
        top: -0.6rem;
        left: 0;
    }
}

.click-open dt::after {
    content: "＋";
    color: #ffffff;
    background-color: #0097a7;
    font-size: 2.41rem;
    font-weight: 400;
    line-height: 2.0rem;
    width: 3.6rem;
    height: 3.6rem;
    position: absolute;
    right: 0rem;
    top: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .click-open dt::after {
        right: 0rem;
        top: -0.3rem;
    }
}

.click-open.open dt::after {
    content: "ー";
}


.click-open dd {
    display: none;
    position: relative;
    line-height: 1.75;
    padding: 1.1rem 0rem 0rem 3.3rem;
}

.click-open dd::before {
    content: "A.";
    font-family: "Noto Serif JP", serif;
    font-style: normal;
    font-size: 2.4rem;
    font-weight: 700;
    color: #0097a7;
    position: absolute;
    top: 1.0rem;
    left: 0;
}

@media (min-width: 768px) {
    .click-open dd::before {
        position: absolute;
        top: 0.5rem;
        left: 0;
    }
}

.click-open:nth-of-type(1) dd::before {
    top: 0.7rem;
}


/* faq-list-position */
.click-open:nth-of-type(1) {
    margin-bottom: 1.3rem;
}

.click-open:nth-of-type(2) {
    margin-bottom: 1.3rem;
}

.click-open:nth-of-type(3) {
    margin-bottom: 1.5rem;
}

.click-open:nth-of-type(4) {
    margin-bottom: 1.4rem;
}

@media (min-width: 768px) {
    .click-open:nth-of-type(1) {
        margin-bottom: 1.2rem;
    }

    .click-open:nth-of-type(2) {
        margin-bottom: 1.2rem;
    }

    .click-open:nth-of-type(3) {
        margin-bottom: 1.2rem;
    }

    .click-open:nth-of-type(4) {
        margin-bottom: 1.2rem;
    }
}

.open:nth-of-type(1) {
    margin-bottom: 0.8rem;
}

.open:nth-of-type(2) {
    margin-bottom: 0.8rem;
}

.open:nth-of-type(3) {
    margin-bottom: 0.8rem;
}

.open:nth-of-type(4) {
    margin-bottom: 0.9rem;
}

@media (min-width: 768px) {
    .open:nth-of-type(1) {
        margin-bottom: 1.7rem;
    }

    .open:nth-of-type(2) {
        margin-bottom: 1.7rem;
    }

    .open:nth-of-type(3) {
        margin-bottom: 1.5rem;
    }

    .open:nth-of-type(4) {
        margin-bottom: 1.4rem;
    }
}

.click-open:nth-of-type(2) dd {
    letter-spacing: 0.013em;
    padding-top: 1.5rem;
}

.click-open:nth-of-type(3) dd {
    padding: 1.4rem 0 0 3.3rem;
}

.click-open:nth-of-type(4) dd {
    padding: 1.4rem 0.4rem 0 3.3rem;
}

.click-open:nth-of-type(5) dd {
    padding: 1.5rem 0 0 3.3rem;
}

@media (min-width: 768px) {
    .click-open:nth-of-type(2) dd {
        letter-spacing: 0.013em;
        padding-top: 1.1rem;
    }

    .click-open:nth-of-type(3) dd {
        padding: 1.1rem 13rem 0 3.3rem;
        letter-spacing: 0.007em;
    }

    .click-open:nth-of-type(4) dd {
        padding: 1.3rem 13rem 0 3.3rem;
        letter-spacing: 0.007em;
    }

    .click-open:nth-of-type(5) dd {
        padding: 1.3rem 13rem 0 3.3rem;
        letter-spacing: 0.007em;
    }
}


/* footer
------------------------------------------ */
footer.container{
    padding: 4.0rem 0.5rem 3.5rem;
}

@media (min-width: 768px) {
    footer.container{
        padding: 4.0rem 0.5rem 4.0rem;
    }
}

footer img {
    display: block;
    width: 34.2rem;
    margin: 0 auto 1.5rem;
}

@media (min-width: 768px) {
    footer img {
        width: 44.7rem;
    }
}

footer p {
    font-size: 1.1rem;
    line-height: calc(16/11);
    font-weight: 400;
    padding-left: 0.4rem;
    letter-spacing: 0.005em;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    footer p {
        font-size: 1.2rem;
        padding-right: 0.7rem;
    }
}