@charset "UTF-8";


/* ベースのスタイル ------------------------------------------  */
html {
    font-size: 62.5%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 1vw;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: calc(10 / 375 * 100vw);
    }
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 400;
}

a {
    color: #000;
    text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.container {
    margin: 0 auto;
    max-width: 108rem;
    padding: 0 1.6rem;
    background: #fff;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 1.6rem;

    }
}

.flex {
    display: flex;
    justify-content: space-between;
}

.no-pc {
    display: inline;
}

@media screen and (min-width: 768px) {
    .no-pc {
        display: none;
    }
}





/* フォントクラス */
.serif {
    font-family: "Noto Serif JP", serif;
    font-style: normal;
}

/* ヘッダー */

header {
    position: fixed;
    top: 0rem;
    left: 0rem;
    height: 6rem;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 50;
}

@media (min-width: 768px) {
    header {
        height: 8.0rem;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.header-logo img {
    width: 25.5rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

@media (min-width: 768px) {
    .header-logo img {
        width: 20.8rem;
        height: 1.8rem;
        margin-left: 10.8rem;
    }
}

.hamburger-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
}

@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }
}

.hamburger-button i {
    font-size: 3.2rem;
    line-height: 1;
    color: #606060;
    font-style: normal;
}


/* ハンバーガーメニュー、ヘッダーナビ
------------------------------------------ */
.hamburger-menu {
    display: none;
    position: fixed;
    top: 6.0rem;
    left: 0rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.3rem 1.35rem 1.5rem;
    text-align: left;
    z-index: 100;
}

@media (min-width: 768px) {
    .hamburger-menu {
        position: static;
        display: flex;
        align-items: center;
        width: initial;
        padding: 0;
        margin: 0 0 0 auto;
        height: 100%;
    }
}

.hamburger-menu ul {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: calc(26/15.8);
}

@media (min-width: 768px) {
    .hamburger-menu ul {
        flex-direction: row;
        align-items: center;
        line-height: calc(26/15.8);
        gap: 0.8rem;
    }
}


@media (min-width: 768px) {
    .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9.6rem;
        height: 3.2rem;
        background-color: #fff;
        border: solid 0.1rem #606060;
    }
}

.nav-link-start {
    display: none;
}

@media (min-width: 768px) {
    .nav-link-start {
        color: #fefefe;
        background-color: #0097a7;
        font-weight: 700;
        width: 19.2rem;
        height: 3.6rem;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.8rem;
        margin-right: 10.8rem;
    }
}

@media (min-width: 768px) {
    .nav-link-start i {
        margin-left: 0.7rem;
    }
}



/* cover */

.cover {
    top: 6.0rem;
}

@media screen and (min-width: 768px) {
    .cover {
        top: 0rem;
        position: relative;
    }
}


.cover-slick {
    position: relative;
    width: 100%;
    height: auto;
}

.cover-slick-item {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    /* opacity: 0.3; */
    background-size: contain;
    /* 元の画像比率を保つ */
    background-position: center top;
    /* 上部基準で配置 */
}


.cover-slick-item img {
    margin-top: 6.0rem;
    display: block;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .cover-slick-item img {
        margin-top: 0;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 2;
    pointer-events: none;
    /* クリックイベントを画像に通す */
}


.cover-catch {
    position: absolute;
    top: 43.5rem;
    width: 100%;
    padding: 2.6rem 2.0rem 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255);
}

@media screen and (min-width: 768px) {
    .cover-catch {
        padding: 0rem 11.0rem;
        text-align: left;
        top: 58.0rem;

        background: rgba(255, 255, 255, 0);
        width: 100%;
    }
}


.cover-catch h2 {
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 1.6rem;
}


@media screen and (min-width: 768px) {
    .cover-catch h2 {
        font-size: 3.6rem;
        line-height: calc(54/36);
        margin-bottom: 1.0rem;
    }
}

.link-start {
    position: absolute;
    top: 57rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.link-start-button {
    color: #fff;
    background-color: #0097a7;
    font-size: 1.8rem;
    font-weight: 700;
    width: 21.0rem;
    height: 4.5rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

@media (min-width: 768px) {
    .link-start {
        display: none;
    }
}

.link-start-button p {
    padding-bottom: 0.5rem;
}

.link-start-button i {
    margin-left: 0.5rem;
    padding-bottom: 0.1rem;
}


.link-start::after{
    content: "";
    height: 0.1rem;
    width: 34.5rem;
    background-color: #606060;
    position: absolute;
    top: 7.5rem;
}


.cover ul {
    position: absolute;
    top:60rem;
    left:0;
    width: 37.5rem;
    max-width:37.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.3rem;
}

@media (min-width: 768px) {
    .cover ul {
        gap: 13.7rem;
    }
}



.cover-item-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15.6rem;
    height: 15.6rem;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 50%;
    border: #0097a7 solid 2px;
    color: #0097a7;
    margin: 0 auto 1.85rem;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .cover-item-circle {
        gap: 1.3rem;
        margin: 0 auto 1.5rem;
        line-height: 1;
    }
}

.cover-item-circle b {
    font-family: "Noto Sans JP";
    font-size: 4.7rem;
    font-weight: 400;
    line-height: 1;
}

.cover ul li p {
    text-align: center;
    font-size: 1.7rem;
    line-height: calc(31/17);
}

@media (min-width: 768px) {
    .cover ul li p {
        font-size: 2.4rem;
        line-height: calc(36/24);
    }
}
